<h1>Find Your Next Book to Read</h1>

<p>Choose by genre:

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Genre
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">E-Book and Print Fiction</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
  </ul>
</div>

<div>
<strong><%= @travel_listname %></strong>
  <% @travel_overview.each do |book| %>
    <li><%= book["rank"] %></li>
    <li><%= book["author"] %></li>
    <li><%= book["title"] %></li>
    <li><%= book["description"] %></li>
    <li><img src="<%= book["book_image"] %>" height="174" width="128"></li>
    <li><a href="<%= book["book_review_link"] %>">NYTimes Book Review link</a></li>
    <li><A href="<%= book["amazon_product_url"] %>">Amazon Book Page link</a></li>
  <% end %>

</div>
